.header {
  width: 100%;
  padding: 2%;
  background-color: rgb(27, 28, 27);
  color: white;
  text-align: center;
}

.mrgnbtm {
  margin-top: 3rem;
}

.btncenter {
  text-align: center;
}

.mrgnbtm1 {
  margin: 1rem 0 3rem 0;
}